# Auto detect text files and perform LF normalization
* text=auto
x_data_without_return1.csv.zip filter=lfs diff=lfs merge=lfs -text
Data_preprocessing/data_x_part_1.pkl.gz filter=lfs diff=lfs merge=lfs -text
